.matches-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rcb-card {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.kkr-card {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.kxip-card {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.csk-card {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.rr-card {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.mi-card {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.srh-card {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.dc-card {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.matches-responsive-container {
  width: 90%;
  max-width: 500px;
  margin-top: 46px;
}

@media screen and (min-width: 768px) {
  .matches-responsive-container {
    max-width: 1110px;
    margin-top: 94px;
  }
}

.team-banner {
  width: 100%;
}

.recent-matches-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .recent-matches-list {
    margin-top: 28px;
  }
}
